.ajaxloader {
    display:    none;
    position:   fixed;
    z-index:    9999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(255, 255, 255, 0.86)
    url('../../img/ajax-loader.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajaxloader {
    display: block;
}

body.verif {
    overflow: hidden;
}

body.verif .ajaxloader{
    background: rgba(255, 255, 255, 0.86)
    url('../../img/tick.png') 50% 50%
    no-repeat;
    display: block;
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}

body.invalid {
    overflow: hidden;
}

body.invalid .ajaxloader{
    background: rgba(255, 255, 255, 0.86)
    url('../../img/invalid.png') 50% 50%
    no-repeat;
    display: block;
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}