/*font */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {margin: 0; padding: 0;}

html {
    height: 100%;
    /*Image only BG fallback*/
}
body {
    font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
    width: 90%;
    height: 90%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

.fs-input{
    text-align: left;

}
.fs-input input{
    width: 70%;
}
.fs-input label{
    width: 200px;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
#msform .btn {
    width: 20%;
    font-size: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
/*headings*/
.fs-title {
    font-size: 25px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    width: 20%;
    float: left;
    position: relative;
    z-index: 4;

}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20%;
    line-height: 50px;
    display: block;
    font-size: 15px;
    color: #333;
    background: white;
    border-radius: 40px;
    margin: 0 auto 5px auto;
    z-index: 0;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 85%;
    height: 10px;
    background: white;
    position: absolute;
    left: -41%;
    top: 20px;
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #428BCA;
    color: white;

    font-size: 30px;


}

#overlay{
    background-color: rgb(50, 50, 50);
    width: 200px;
    height: 50px;
    cursor: pointer;
    color: #005fcc;
    padding: 5px;

}
#overlay:hover{
    background-color: rgb(6, 9, 68);
}

.image-editor{
    text-align: center;
}

.cropit-image-preview {

    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
    height: 200px;
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%);
    cursor: move;
}
.cropit-image-zoom-input{
    max-width: 200px;
    background-color: rgb(50, 50, 50);
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%);
}

.cropit-image-zoom-input:hover{
    background-color: rgb(6, 9, 68);
}

.cropit-image-background {
    opacity: .2;
    cursor: text;
}

.image-size-label {
    margin-top: 10px;
}

.next{
    position: absolute;
    right: -10%;
    top:45%;
    background: url('../../img/next.png') transparent no-repeat center;
    background-size: contain;
    width: 5%;
    height: 64px;

}

.previous{
    position: absolute;
    left: -10%;
    top:45%;
    background: url('../../img/previous.png') transparent no-repeat center;
    background-size: contain;
    width: 5%;
    height: 64px;
}

.previous:hover{
    background-color: rgba(0, 42, 128, 0.30);
}

.next:hover{
    background-color: rgba(0, 42, 128, 0.30);
}
.cover-input{
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 70%;
    height: 200px;
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%);
    cursor: move;
}
#cke_cmp-details{
    width: 90%;
}
#social-links{
    width: 90%;
}