

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#nav{

}

#top-bar{
    opacity: 0.97 !important;
    background-image: linear-gradient(to bottom, #000000 0, #000000 100%);
}

.join{
    background-color: #b97614;
    padding: 3%;
    color: #442d1b;
    border-radius: 5%;
    font-family: Arial;
}

.join:hover{
  /* background-color: #3f4446;*/
    -webkit-box-shadow: 0 0 10px 1px rgba(255, 164, 30, 0.40);
    box-shadow: 0 0 20px 1px rgba(255, 164, 30, 0.60);
    color: #000000;
    text-shadow: 0 0 4px #000000;
}

.join>p{
    height: 100px;
    text-align: left;
}

.join>p~p{
    height: auto;
    text-align: center;
}

/* Sticky footer styles
    -------------------------------------------------- */

html,
body {
    height: 100%;
   background-image: url("../../img/header-bg.jpg") ;
    /*background-color: #f2b652;*/


    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #000000;
    color: #ffa41e;
    text-shadow: 0 0 2px #0c04ff;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#jumbo{
        height: 100%;
    background-image: url("../../img/header-bg.jpg") ;

        color: #ffffff;
}

#bottom.comtainer{
    height: 100%;

}
#logo_main{
    height: 300px;
}

#but_sign{
    margin-right:120px;
}
#head_one{
    font-family: cursive;
}


.ifr{
    background: linear-gradient(to right, rgba(150,150,150,0.40),black,black,black,rgba(150,150,150,0.40));

}


#header_c {
    color: #419641;
    font-size: 20px;
    text-indent: 10px;
}

#bigi_c{
    font-size: 35px;
    color: #419641;
}

#contact{
    padding-top: 50px;
    width: 70%;
    height: 60%;

}#con_box{
    background-color: #ffa41e;

 }
 #info_header{
     font-size: 18px;
     color: #000000;
     text-indent: 100px;
 }

#dir{
    height: 170px;
    width: 190px;
    float: right;
   /* margin-right: 100px;*/

}
#dir_head{
    width: 85%;

}
#dir_foot{
    float: right;
}









